[2019-05-15 02:31] joekiller opened #11 "iam:* InvalidClientTokenId"
I cannot perform iam:* commands (I tried create-role, delete-role, or list-groups) when the request is signed by a token issued by my ecs-local-container-endpoints via `AWS_CONTAINER_CREDENTIALS_RELATIVE_URI=/creds`

I first encountered this using AWS SDK for Java 1.11.551 and then replicated it on aws-cli/1.16.148. I'm using endpoints 1.0.1 but 1.0.0 didn't work either.

Steps to reproduce using

[2019-05-15 19:41] PettitWesley commented on #11
@joekiller Check out the entry for [sts:GetSessionToken in the STS API Comparison](https://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_request.html#stsapi_comparison).

The `/creds` path uses sts:GetSessionToken, and it has some limitations. As stated in the STS docs,

If you set `AWS_CONTAINER_CREDENTIALS_RELATIVE_URI=/role/{role name}` you can assume an IAM role in your containe

[2019-05-15 19:55] joekiller commented on #11
Okay thanks!

[2019-05-15 19:55] #11 closed

[2019-06-28 20:52] cmdicely opened #15 "Provide/document mechanism to disable SSL verification"
Attempting to run the ecs-local-endpoints container on a system behind a corporate proxy that does SSL interception wtih self-signed certificates results in a sequence of errors of the form (excluding timestamp):

Other AWS tools (e.g., the AWS CLI and Python SDK) provide mechanisms to disable certificate verification, but no such mechanism appears to be included for the ecs-local-countainers-endp

[2019-07-09 18:28] clareliguori commented on #15
Hi @cmdicely, since one of the main responsibilities for this tool is to pull IAM credentials from your account, I'm not sure I'm comfortable providing an option to disable certificate verification entirely.  That would leave users open to man-in-the-middle attacks and malicious credentials from a fake IAM endpoint.

Does your corporate proxy actually use self-signed certificates, or is there a cu

[2019-07-14 11:50] seniorquico opened #16 "Add support for custom, service-specific endpoints for IAM and STS"
Use case:

I am working on an application that gets deployed to ECS (Fargate). Our team has had good success using Docker Compose and [localstack](https://github.com/localstack/localstack) to simulate an environment with DynamoDB, S3, and SQS while developing/testing locally. I just started working on a reusable library that will extract container metrics from the ECS Task Metadata Endpoint. I was

[2019-07-15 21:09] cmdicely commented on #15
It is actually a custom root CA as you guessed, and, yes, providing the ability to import a custom trust chain should work (and, I agree, is probably a much better idea than disabling SSL cert verification.)

[2019-07-15 23:18] clareliguori commented on #15
You should be able to mount in your custom cert bundle into the container at any of the following locations, and it will be picked up by the container's AWS clients:
[code]

Can you confirm that it works for you?

[2019-07-17 01:05] PettitWesley commented on #16
@seniorquico We could add the ability to configure a custom endpoint, but I am not sure that would be ideal for your use case. The IAM and STS API calls are used to return credentials which your container can use to talk to AWS Services.

Can you go into more detail about how your containers would use the fake creds returned by a simulated STS/IAM?

And would it be simpler and equally useful to ha

[2019-07-17 05:19] seniorquico commented on #16
Sorry, my use case didn't make clear why the IAM/STS/credentials appeared necessary.

I created a Docker Compose script that deployed `amazon/amazon-ecs-local-container-endpoints`, `localstack/localstack`, and some custom applications. The ECS Task Metadata Endpoint calls _just worked_ thanks to the well-known IP address. The calls to DynamoDB, S3, etc. were simply re-configured with the custom se

[2019-07-23 03:03] Neutrollized opened #18 "Document link to docker-compose.yml file broken"
Updating your `example Docker Compose file` link in `docs/setup-networking.md` from `examples/docker-compose.yml` to `../examples/docker-compose.yml` should fix it.

I didn't want to make PR for something so trivial -- best to leave that for actual code related stuff.  Anyway this tool is pretty cool and helping me as I learn ECS, so thank you!

[2019-07-25 23:54] #15 closed

[2019-07-29 20:04] noah-trilling opened #20 "docker-compose file version 3.0"
This is a great project!

I'm just curious if there is a functional reason why the tutorial hasn't been updated to specify version 3 of the docker-compose files. I was able to remove the 'gateway' configuration of the credentials network (no longer honored in v3 of docker-compose) and the local container endpoint continued to vend my ECS task credentials perfectly. I was curious if other use cases

[2019-07-31 17:42] PettitWesley commented on #20
@noah-trilling All use cases will work with V3 Compose syntax!

[2019-08-29 17:25] #18 closed

[2019-09-04 13:32] sgwozdz opened #23 "Empty Expiration"
I have some issues with setting it up correctly. Credentials are in place but **Expiration** is always empty and exceptions are thrown because of that.
I'm trying to use this image for the most basic scenario to debug application which uses dynamodb.

I've tried to add manually **expiration** to **credentials** file but didn't work.

Example response from /creds:
`
{
    "AccessKeyId": "not empty"

[2019-09-09 21:09] PettitWesley commented on #23
@sgwozdz This happens when you're using the `/creds` path for temporary credentials and the local endpoints container itself is running using temporary credentials.

Local Container Endpoints supports 2 methods to retrieve credentials:
1. Temporary credentials from `/creds`. This path has 2 cases.
   a) The local container endpoints container was given non-temporary credentials. In this case, it m

[2019-09-09 21:11] PettitWesley commented on #23
Also, can you give us more information about the exceptions you're seeing with dynamo?

I'm marking this as a bug because you said it broke your workflow. However, because of what I described above this would be difficult to fix. The only solution is probably to set a fake expiration on the credentials response.

[2019-09-30 18:06] hencrice commented on #23
Closed due to lack of activity.

[2019-09-30 18:06] #23 closed

[2019-10-01 02:40] seniorquico opened #24 "Release to Docker Hub"
Is there a schedule or plan to release new builds with recent changes to Docker Hub?

[2019-10-10 05:45] dacut opened #26 "Empty Expiration Redux"
Same issue as here https://github.com/awslabs/amazon-ecs-local-container-endpoints/issues/23

This is path 1b (grabbing a temporary credential and stashing it in `~/.aws/credentials`) from issue #23 -- it makes Boto unhappy.

Retrieving the credentials, as @PettitWesley alludes to, doesn't include an expiration date because this isn't a thing in `~/.aws/credentials`:
[code]

Boto barfs on the empt

[2019-10-10 08:42] dacut commented on #26
FWIW, Boto3 is also unhappy if you exclude the Expiration header entirely (which I tested with my own hacked-together server):
[code]

[2019-10-10 18:13] PettitWesley commented on #26
I think the fastest way to solve this for local container endpoints would be to set a false expiration. Set it to be only a few minutes in the future- that way is very likely its less than the actual expiration. Every time the fake expiration hits, I think the SDKs will auto-request for new credentials, and local endpoints can just return the same set of credentials with an new fake expiration.

W

[2019-10-10 19:55] dacut commented on #26
I'll get back to you on this: "If it makes a request that fails because its credentials are expired, what does it do?"

I know I've seen requests fail outright due to expired credentials, but that was in cases where Boto isn't instantiating a refreshing provider (the creds are coming in through environment variables). There's a fair bit of automagic happening in the guts of Boto here, depending on

[2019-10-18 21:10] dacut commented on #26
On:  "If it makes a request that fails because its credentials are expired, what does it do?"
Answer: Nothing good. It just returns an exception to the client without refreshing the credentials or retrying the operation.

`Exception: An error occurred (ExpiredToken) when calling the ListBuckets operation: The provided token has expired.`

However, take a look at this: https://github.com/boto/botoc

[2019-10-18 21:27] PettitWesley commented on #26
@dacut Thanks for doing that investigative work; super useful.

This change would be hard to accomplish; the shared credentials file is so widely used. We'd have to change all the SDKs.

Realistically, this is the feature request we can accomplish. Would you be interested in submitting a pull request for this? Otherwise, we'll eventually get to it (though I can't promise when or if it will be soon

[2019-10-19 01:38] dacut commented on #26
Eventually (read: not in the context of this GitHub issue), this should go in ~/.aws/credentials because it **is** useful to the SDKs. Having a session token without an expiration date is kind of nonsensical. From what I can tell, the ones that I've used (Go, Python, C++, JavaScript) are properly coded to ignore unknown properties, so introducing new ones is a non-breaking change.

But that's for

[2019-10-20 21:26] PettitWesley commented on #26
@dacut agreed and sounds good 😎

[2019-10-24 14:32] fabiomsouto opened #27 "Support for MFA in assuming roles"
Hey,

For our particular setup, which requires the use of MFA, I get

ecs-local-endpoints_1  | time="2019-10-24T14:23:00Z" level=fatal msg="Failed to create Credentials Service: AssumeRoleTokenProviderNotSetError: assume role with MFA enabled, but AssumeRoleTokenProvider session option not set."

Is there an alternative way to do this?

Cheers!

[2019-10-31 20:35] dacut commented on #26
Alright, I should have tomorrow free to work on a pull request for this. So don't start if you haven't already. :-)

[2019-11-05 18:55] allisaurus opened #30 "FR: Add 'sh' to container image to support aws-sdk-go cred setup"
'sh' executable is required by aws-sdk-go to invoke credential_process.

See [related PR](https://github.com/awslabs/amazon-ecs-local-container-endpoints/pull/29) for more context.

[2019-11-05 22:00] samuelkarp commented on #30
One approach here might be modifying the SDK to remove the call to `sh`.  It's not super clear what specifically the SDK is trying to support; I don't know if we really expect folks to write a full shell command in their `~/.aws/config` or not.

[2019-11-06 03:00] geckofu commented on #30
@samuelkarp Hi, the SDK is trying to support [external credentials sourcing](https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-sourcing-external.html). We at [ThePlant](http://github.com/theplant) write shell commands in `~/.aws/config` because we use OIDC federation to manage IAM access. This is the tool we built for this purpose: [oidc2aws](https://github.com/theplant/oidc2aws). The

[2019-11-12 22:13] dacut commented on #26
@PettitWesley Not sure if you saw the pull request for this. It's over at https://github.com/awslabs/amazon-ecs-local-container-endpoints/pull/28. Ball's in your court when you get a chance, assuming you're not battening down the hatches for re:Invent releases and the like.

[2019-11-21 06:57] PettitWesley commented on #27
@fabiomsouto I think the issue is in how to support getting the MFA token. Local Endpoints runs as a container, there's no clear way to prompt the user for a token.

As a work around, could you run AWS CLI sts commands to get temp creds from your MFA enabled role, then set those creds as Env Vars, and launch local container endpoints to use those environment variables. Its not ideal, but you could

[2019-11-22 23:21] allisaurus commented on #30
Hey @geckofu - apologies for the delay in getting back to you! Yes, if you want to update https://github.com/awslabs/amazon-ecs-local-container-endpoints/pull/29 to use the `amazonlinux` base image we'll give it anther look. Thanks again for taking the time to contribute and for clarifying your use case.

[2019-11-23 13:16] geckofu commented on #30
Thanks @allisaurus I have changed the base image to `amazonlinux` in #31 (couldn't update the original PR in place). Happy to help

[2019-11-23 17:34] #26 closed

[2019-11-25 09:25] fabiomsouto commented on #27
Sounds good, will give that a go! If it works I'll share the script.

Thanks.

[2019-11-29 21:55] CrabbyPete opened #32 "expiry"
I am running this trying to use sms, but I get the following when I run docker-compose up
File "/usr/local/lib/python3.7/site-packages/boto3/session.py", line 263, in client
app_1                  |     aws_session_token=aws_session_token, config=config)
app_1                  |   File "/usr/local/lib/python3.7/site-packages/botocore/session.py", line 826, in create_client
app_1                  |

[2019-12-05 01:17] gvwirth commented on #32
Getting the same error: `
root@b9e920735ee5:/# aws --debug s3 ls

Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/awscli/clidriver.py", line 208, in main
    return command_table[parsed_args.command](remaining, parsed_args)
  File "/usr/lib/python3/dist-packages/awscli/customizations/commands.py", line 190, in __call__
    parsed_globals)
  File "/usr/lib/python3/dist-pac

[2020-01-10 18:09] PettitWesley commented on #32
I believe this was fixed by #28

See #23 and #26

We need to release the image- we will do this sometime next week.

[2020-01-20 17:34] alejandrodnm opened #33 "V1 Container Agent Introspection support"
Are there plans to add the v1 endpoint?

I know that it's very different in the way that it's expose to the tasks since it's the agent directly, but I have a use case for it and was wondering if there are plans to add it.

Thx

[2020-01-20 22:37] PettitWesley commented on #32
I'm planning to release the fix this week.

[2020-01-20 22:44] PettitWesley commented on #33
Hey @alejandrodnm, at the moment we do not have definite plans to expand this tool.

I agree that adding a simulated version of the V1 endpoint would be useful. Would you be interested in contributing this feature? It should be fairly straightforward- I think you can basically just re-use the code for the v2/v3 metadata endpoint. I know the `/v1/tasks` path in V1 returns multiple tasks, but for lo

[2020-01-22 23:09] PettitWesley commented on #24
Sorry this took so long... 1.1.0 has just been released!

[2020-01-22 23:09] #24 closed

[2020-01-22 23:09] PettitWesley commented on #32
Should be fixed in 1.1.0!

[2020-01-22 23:09] #32 closed

[2020-01-22 23:09] PettitWesley commented on #30
Released in 1.1.0

[2020-01-22 23:09] #30 closed

[2020-02-07 19:20] #33 closed

[2020-02-17 21:46] efekarakus commented on #27
Resolving this issue, please feel free to re-open it if the workaround didn't solve your issue!

[2020-02-17 21:46] #27 closed

[2020-02-25 19:20] yury-sannikov opened #35 "NoCredentialProviders: no valid providers in chain exception"
Hi there, can someone please help me understand what I'm doing wrong.
I'm following the [docs](https://aws.amazon.com/blogs/compute/a-guide-to-locally-testing-containers-with-amazon-ecs-local-endpoints-and-docker-compose/) to make local env setup working.

Here is my override file
[code]
I've logged in through SSO and have STS issued credentials.
With this set up I'm making the following request:

[2020-03-04 21:10] allisaurus commented on #35
Hi @yury-sannikov - Are you still having this issue? I'm so far unable to reproduce this but am still working on it.

[2020-03-09 17:37] PettitWesley commented on #35
@yury-sannikov I noticed two things in your compose file:

[code]

1. Why is the home volume mount: "/home/.aws:ro" - what's the ":ro"? That seems weird.
2. Set a value for HOME: `HOME: /home`

[2020-03-17 21:50] hencrice commented on #35
Hey! @yury-sannikov

Are you still having the issue?

[2020-04-08 14:42] ryanpeterson commented on #20
The docker-compose files do not work "as-is" with version 3.
The first error that one will run into is documented here: https://github.com/docker/compose/issues/4366

[2020-04-08 23:00] nickhammond commented on #20
Seeing the same thing here trying to configure a local ECS + fargate setup. Here's the section in the v3 compose documentation that mentions gateway is currently only supported on v2 - https://docs.docker.com/compose/compose-file/#enable_ipv6

[2020-04-09 10:41] mbamber opened #36 "Support assuming roles in other accounts without CLI profiles"
When vending credentials using the `AWS_CREDENTIALS_RELATIVE_URI=role/<role_name>` environment variable, it is only possible to assume a role in the same account as the credentials in `~/.aws/credentials`.

In line with a [recommended account structure](https://d0.awsstatic.com/aws-answers/AWS_Multi_Account_Security_Strategy.pdf) (Identity Account Structure) it is often the case that credentials o

[2020-04-09 19:25] sonofachamp commented on #36
Hey @mbamber do your credentials in `~/.aws/credentials` have access to assume the role specified in `AWS_CONTAINER_CREDENTIALS_RELATIVE_URI`? Also, ensure you're using the `AWS_CONTAINER_CREDENTIALS_RELATIVE_URI` environment variable instead of `AWS_CREDENTIALS_RELATIVE_URI`.

[2020-04-09 19:32] mbamber commented on #36
@Sonofachamp - yes they do. But the role I want to assume is in a different account, and AFAIK I can’t assume a role in a different account?

[2020-04-09 20:12] sonofachamp commented on #36
Cross-account assume role should work as long as permissions are set up correctly. Check out this [tutorials doc page](https://docs.aws.amazon.com/IAM/latest/UserGuide/tutorial_cross-account-with-roles.html) to see if this helps clarify the permissions necessary.

If it's still unclear please let us know. If you can provide your existing role configurations between the two accounts that would be h

[2020-04-09 20:18] mbamber commented on #36
I know the IAM permissions are correct, because I can run `aws sts assume-role` without issue.

The problem is, how does this container know in which account to try and assume the role?

[2020-04-09 20:43] sonofachamp commented on #36
Ah, I think I see what you're saying. It's only accepting `role_name` rather than `role_arn`. I'm not too familiar with this code base or the expected functionality that `AWS_CONTAINER_CREDENTIALS_RELATIVE_URI` should support, but I'll look into this.

[2020-04-09 20:57] mbamber commented on #36
I’ve got a branch in my fork - but I want to do some testing before raising a PR - I’ll keep this issue updated though!

[2020-04-14 08:59] mbamber commented on #36
Ok, I did some testing and it seems to work.

The PR is above, please leave comments/feedback etc @sonofachamp  @PettitWesley 👍

[2020-04-17 19:35] alkalinecoffee opened #38 "V4 endpoint support"
👋 Hey all, thanks for making this image available.

Is there any planned support for V4 metadata endpoints?  Do we have an ETA on this?

Thanks

[2020-04-17 23:47] bvtujo commented on #38
Hi Joe, we don't currently have an ETA but will discuss this and update the issue when we have more information. For the time being, @PettitWesley may know more about the status.

[2020-04-18 00:25] PettitWesley commented on #38
@alkalinecoffee @bvtujo I haven't thought about V4 much; I don't have an ETA either.

In ECS, V4 is the same as V3 except network IO stats are present for all network modes. Previously with V3 they were not present for the awsvpc network mode. AFAICT, the structure used is the same as the one provided by docker stats. Since local endpoints does not have a true awsvpc- network stats should already

[2020-04-21 06:36] #36 closed

[2020-04-22 14:43] alkalinecoffee commented on #38
Thanks for the response.  According to the docs, there are a few additional values added to the V4 task endpoint:

[code]

https://docs.aws.amazon.com/AmazonECS/latest/developerguide/task-metadata-endpoint-v4.html

I haven't had a chance to look at the code myself, but is it possible today to mock or otherwise inject other values (perhaps from envvars) into the metadata endpoint response?  That mi

[2020-04-22 17:03] PettitWesley commented on #38
@alkalinecoffee Ah I see. Then we do need to make changes to support V4, to mock those new fields. Right now we have default mocks for metadata fields, which can be overridden with Env Vars, we can take the same approach.

Are you interested in contributing this?

[2020-04-22 17:55] PettitWesley commented on #38
Metadata is handled here primarily: https://github.com/awslabs/amazon-ecs-local-container-endpoints/blob/master/local-container-endpoints/metadata/metadata.go

Defaults/env vars here: https://github.com/awslabs/amazon-ecs-local-container-endpoints/blob/master/local-container-endpoints/config/config.go

[2020-04-28 21:18] EnriqueEll commented on #35
I have the same issue my configuration, not sure if that is the same problem, but I'm behind a corporate proxy. I setup my no_proxy to have both "169.254.170.2, 169.254.169.254"

My ec2-local-instance is loging something like this:
time="2020-04-28T20:49:49Z" level=error msg="HTTP 500 - NoCredentialProviders: no valid providers in chain\ncaused by: EnvAccessKeyNotFound: failed to find credentials

[2020-06-01 05:38] PettitWesley commented on #38
Implementation steps for the full solution:
- #40 adds generic metadata injection from a JSON file
- Add docs for the above feature
- Add an example JSON metadata file for the new fields in V4
- Add docs on V4, tell users to use the same HTTP path as V3

[2020-07-02 14:37] jespercedergren commented on #16
Hi @seniorquico,

Very nice feature you added, it is exactly what I am looking for!

I tried yo use this in my project, spinning up Localstack and setting the necessary IAM and STS endpoints, and I also tried your docker-compose file in https://github.com/awslabs/amazon-ecs-local-container-endpoints/blob/master/examples/docker-compose.localstack.yml.

Then I go into either the ecs-ecs-local-endpoi

[2020-07-06 16:12] iamhopaul123 commented on #38
Closing this issue since implementation and docs are now available.

[2020-07-06 16:12] #38 closed

[2020-07-16 22:16] seniorquico commented on #16
Sorry, @jespercedergren. I've been swamped at work. :-(

We use the pattern I documented before in an automated integration test, and I don't think it's changed since these bits went live. I don't know other specifics, thouhg... such as whether we're pinned to a specific version of localstack. I'm keeping this pinned in my GitHub notification list, and when I get some free time I'll see if I can h

[2020-08-11 20:50] jrdevore opened #44 "Broken Markdown Link docs/features.md"
The _"Generic Metadata Injection"_ section within the "[features](https://github.com/awslabs/amazon-ecs-local-container-endpoints/blob/mainline/docs/features.md#generic-metadata-injection)" document contains the wrong url to the generic example

Broken Link _(last line)_

Should be set to:

[2020-08-18 17:15] scottmalkie opened #45 "Arm64 support via multi-arch images on dockerhub"
Hello!

Currently the dockerhub image is amd64 only.  Would it be possible to push a multi-arch (amd64 + arm64) manifest so as to support Graviton/Graviton2-based instances?

Thanks!

[2020-09-02 21:53] masteinhauser commented on #35
My team is experiencing the same issue with AWS SSO, only the local-container-endpoints process cannot parse the profile correctly with the `sso_*` configuration options, but it works correctly when we rely on our workaround via `credential_process`. The AWS CLI v1 and v2 do not experience this same limitation.

Currently, I am attempting to update the compiled AWS SDK version with the binary here

[2020-09-02 22:21] masteinhauser commented on #35
After recompiling with Debug logging enabled, we never get past [this point in the temp credential processing](https://github.com/awslabs/amazon-ecs-local-container-endpoints/blob/4fa3c293fca58bb765d7d67e67a366066a131a97/local-container-endpoints/handlers/credentials_handler.go#L222). I'll be digging deeper to understand how the internal session is being configured as it appears the failure is wit

[2020-09-11 15:45] jinnko commented on #35
UPDATE: In my case it seems this might have been a transient issue.  After reboot it seemed to work (I thought that only happened to macOS & Windows !?!?).  I'll update here again if this is not the case.  Am on ArchLinux with everything up-to-date, though there were no udpates to any of the tooling involved in this.

---

Similar issue here.  I have the following in the docker-compose:

[code]

W

[2020-09-15 17:08] #44 closed, assigned to allisaurus

[2020-10-10 19:05] jskrt commented on #35
UPDATE: I wasn't curling with the /creds. Removing the "/v3" from the metadata URI and adding the relative URI (/creds or /role/role_name) did the trick for me.

Seeing the same issue here. When I curl http://169.254.170.2/v3 from the ecs-container-endpoints container though, I get `Internal Server Error: Failed to list running containers: Cannot connect to the Docker daemon at unix:///var/run/doc

[2020-12-07 15:50] niros1 opened #49 "Using amazon-ecs-local-container-endpoints with MFA authentication"
Hi,
I am working with compose based on scenario 1 (https://aws.amazon.com/blogs/compute/a-guide-to-locally-testing-containers-with-amazon-ecs-local-endpoints-and-docker-compose/), everything work well till I configured my environment to MFA authentication.
Before MFA i just used the profile name and mounting the .aws directory, I change the docker-compose.override to use the current session, the p

[2020-12-15 00:09] cbcoutinho commented on #49
Two things come to mind:

1. I think you're conflating two ways of passing credentials: the first being via your `~/.aws/config` file and AWS_PROFILE env var, which you would use to authenticate _inside your container_, and the second being the fact that you're passing the access key, secret, and token via env vars that you received from authenticating on your local host.

If you want to authentic

[2021-01-12 09:46] chaitanyapandit commented on #35
@jskrt This was happening for me with Docker Desktop for Mac version 3.x. Downgraded to 2.3.0.4 and curl http://169.254.170.2/v3 works

[2021-01-12 14:43] cch1 opened #50 "Endpoint container doesn't resolve InstanceProfileCredentialsProvider for Fargate execution role"
My goal is to simulate in a local `docker-compose` (or `docker compose`) cluster the same credential acquisition that occurs when running my containers in Fargate (as deployed with the [compose-cli](https://github.com/docker/compose-cli)).

I am able to start the `amazon-ecs-local-container-endpoints` in my cluster using `docker-compose` and I am following the [example](https://github.com/awslabs/

[2021-01-12 18:44] cch1 commented on #50
Some debugging conducted from a utility container attached to the credentials network:
[code]

[2021-01-12 18:49] cch1 commented on #50
More information

Collected from the docker host:
[code]
And collected from the ecs endpoints container:
[code]

[2021-01-14 00:51] #50 closed, assigned to nobody

[2021-01-14 00:51] cch1 commented on #50
I'm going to close this and open a more pointed issue that addresses the inability to fetch Task Role credentials.

[2021-02-08 17:54] davidsteed commented on #35
I am getting the same issue HTTP 500 - NoCredentialProviders: no valid providers in chain\ncaused by: EnvAccessKeyNotFound: failed to find credentials in the environment.\nSharedCredsLoad: failed to load profile, spm-dev.\nEC2RoleRequestError: no EC2 instance role found\ncaused by: RequestError: send request failed\ncaused by: Get http://169.254.169.254/latest/meta-data/iam/security-credentials/:

[2021-02-09 09:31] davidsteed commented on #35
Found the problem now.  This flat does not work with SSO.  It only works when I copy the credentials including the session token into the credentials file.  Will raise new ticket

[2021-02-09 09:34] davidsteed opened #51 "Support SSO"
This does not support "aws configure sso". If I copy the credentials into the ~/.aws/credentials file it works.  Can support for sso be added

[2021-02-09 13:51] davidsteed commented on #51
I have fixed this by upgrading to the latest version of the aws sdk changes.  Created new branch with changes, but don't have permission to push

[2021-02-09 19:10] PettitWesley commented on #51
@davidsteed If you have SSO working, can you submit a pull request with the code change?

[2021-02-10 11:00] davidsteed commented on #51
Yes all I did was the following

go get -u github.com/aws/aws-sdk-go
go mod vendor

Then built the code.  I had to change the Makefile as it does not work on
Windows bash.

I was going to submit the pull request, but can't run the automated tests
as the way go genrate works also does not work on windows bash - I get my
mac back next week.

The image does appear to work though

On Tue, 9 Feb 2021 a

[2021-02-13 17:42] masteinhauser commented on #51
I can confirm @davidsteed is correct, and I am also currently struggling with the `make generate` functionality.

I'll submit a PR (also) if I can get this working and passing tests. For now, it's perfectly functional for our immediate AWS SSO needs.

[2021-02-13 19:06] masteinhauser commented on #51
I just got this working locally with all tests passing, PR incoming.

The root of the issue occurs when running `make generate` with the `vendor/` directory still existing.
Once the `vendor` directory is removed, then `make generate` passes, and finally the binary can be built with all current tests passing.

[2021-02-19 18:59] yury-sannikov commented on #35
Hi guys, sorry, missed the whole convo. I ended up using the env file and this works for the team. Didn't dig further.

[2021-03-02 23:15] PettitWesley commented on #51
I merged #52

This project isn't super actively maintained so not sure when we will get around to doing a release.

[2021-03-02 23:17] masteinhauser commented on #51
THANK YOU! Even without a formal release, this is a really big feature for us to carry only a custom binary instead of a custom fork + custom binary. I'll be passing the positive feedback along to our TAM, and finally getting our customer commentary for the AWS SSO team.

[2021-03-11 00:53] AHaymond commented on #35
I am struggling with this exact same error as described in this issue. I would really like to get a response from AWS on this. I am using the example compose file that could not be more simple

[code]

Yet when I do anything to utilize AWS services from within that container—such as using the ruby aws-sdk-s3 gem— I get:

[code]
and trying to curl the endpoint I receive:
[code]

I have attached to

[2021-03-11 01:01] PettitWesley commented on #35
@AHaymond Can you please add more info. Give us your entire compose file (I don't see the local endpoints container in what you posted).

Which container is this?

[2021-03-11 01:05] AHaymond commented on #35
I am utilizing `docker-compose.overrides.yml` here it is:

[code]

I am using Docker Desktop for Mac OS 3.1.0 <<< could this be causing an issue? Is it a problem with the VM that Docker Desktop uses?

[2021-03-11 01:18] PettitWesley commented on #35
I'm using 3.1.0 on Mac OS... so I don't think that's it...

Hmmmm.

So this is the issue..

Is your profile named default? If not you need to specify `AWS_DEFAULT_PROFILE` on the local endpoints container. Something is wrong with the setup for your local creds in `.aws`

[2021-03-11 01:21] AHaymond commented on #35
Yes it is default. I just tested it on Arch Linux with the same exact setup and had no issues retrieving credentials.

[2021-03-11 01:24] PettitWesley commented on #35
Interesting... how about trying to set `AWS_SHARED_CREDENTIALS_FILE` on the local endpoints container. Set that to the absolute container path where the credentials file can be found.  The full path inside the container. Not the directory.

[2021-03-11 01:27] AHaymond commented on #35
set the absolute path and got the same error

[2021-03-11 01:35] PettitWesley commented on #35
So local container endpoints works for me, and as you noted, it works on Arch Linux. I don't think there's a bug in the container. There's likely something with your setup on Mac that isn't working. I'm sorry but you'll probably have to figure that out yourself- the above are the only ideas I can think of to try.

[2021-03-11 06:50] davidsteed commented on #35
The solution for me was to clone the repo up the version of aws-sdk-go to the latest version, go mod vendor and recompile works perfectly now with SSO.  May be this will fix your issue too.

[2021-03-17 14:09] arnaudmm commented on #51
Hello, is there any planned release including this change?

As an alternative, how can I build the docker image locally?
Edit : got it
git clone
make release

[2021-04-05 19:59] sitase commented on #35
What I don't quite understand is why *this* container calls out to the EC2 Instance Metadata Service. That can't really work unless you run it in EC2, or mock *that* endpoint too.

[code]

[2021-04-09 14:15] eliottwiener opened #67 "Publish to Amazon ECR Public Gallery"
It would be great to publish this to the ECR Public Gallery: https://gallery.ecr.aws/

This would especially useful for anyone using Docker Hub anonymously or from a free account, in light of the new pull rate limits imposed.

[2021-04-13 16:44] SoManyHs commented on #45
ARM images are now available on [DockerHub](https://hub.docker.com/r/amazon/amazon-ecs-local-container-endpoints/tags?page=1&ordering=last_updated)! 🎉

See: https://github.com/awslabs/amazon-ecs-local-container-endpoints/releases/tag/v1.4.0

[2021-04-13 16:44] #45 closed, assigned to nobody

[2021-05-12 04:10] mmatheson commented on #35
I ran into this today as well. I manged to figure out my issue, hopefully this helps someone. For me it was a misunderstanding of how this container uses credentials from `~/.aws/`. I assumed it could use the profiles created by `aws configure sso`, but doesn't appear to be the case. It seems to only work using the profiles in `~/.aws/credentials` which should look like this:
[code]
You can get th

[2021-07-17 03:16] joshuamorris3 opened #85 "Role ARN with Path does not match Gorilla Mux URL"
Hi,

I'm trying to use the `/role-arn/{role arn}` option for the `AWS_CONTAINER_CREDENTIALS_RELATIVE_URI`. If I try using a role with a path in it e.g. `arn:aws:iam::111122223333:role/division_abc/subdivision_xyz/custom_role` it does not appear to work. I believe it is due to the Gorilla Mux path pattern used at https://github.com/awslabs/amazon-ecs-local-container-endpoints/blob/mainline/local-co

[2021-07-26 14:04] snehal-kolte opened #89 "Unable to load AWS credentials from AWS provider"
Team,
We are referring the  [https://aws.amazon.com/blogs/compute/a-guide-to-locally-testing-containers-with-amazon-ecs-local-endpoints-and-docker-compose/](document ) and set up docker-compose.yml and  docker-compose.override.yml like below

**docker-compose.yml**
version: "2"
services:
  app:
    build: my_image
    ports:
      - 8080:80
    environment:
      PORT: "80"

**docker-compose.overr

[2021-07-30 19:59] cbishop-elsevier commented on #89
@snehal-kolte

A couple of things I notice here that differ to my local development environment (which obtains credentials successfully):

First - I would suggest using a specific Named Profile, versus `AWS_PROFILE: "default"` . I suggest this for two reasons, its best practice, and I also seem to recall having issues using "default" myself when I first kicked out my local dev environment.

Second

[2021-10-10 00:29] oliveigah opened #105 "dial tcp 169.254.169.254:80: connect: no route to host"
I'm trying to run ecs-local-container-endpoints using the recommended approach ( Bridge Network )

I've set up everything as the guide suggest but the ecs-local-container do not work and prints this message evey time I send a request to http://169.254.170.2/creds:
[code]
Although if I set it up using the ip tables approach eveything works fine.

I'm running on Ubuntu 20.4 with Docker version 20.10

[2021-10-10 15:09] #105 closed, assigned to nobody

[2021-10-19 10:58] AWare opened #110 "Incorrect docker hub tagging for arm64"
In docker hub, the tag `latest` etc is duplicated as `latest-arm64` with each having one arch. This causes docker to select the incorrect build and run it by emulation on Docker for Mac on ARM. The `latest` tag should provide both architectures.

[2021-12-02 21:37] rsamf opened #118 "Cannot get role credentials"
Endpoint `/creds` works just fine, but when I try to use `/role/<role name>` like it says in this [guide](https://aws.amazon.com/blogs/compute/a-guide-to-locally-testing-containers-with-amazon-ecs-local-endpoints-and-docker-compose/), the ecs-local-endpoints container keeps responding with the error:
[code]

See my docker-compose.override.yml:
[code]

Extra info: I'm operating with an assumed role

[2022-01-07 02:47] javiortizmol commented on #118
Hey, any updates about this, aws team? This is great tool but if you don't maintain it, the effort building it will lose.

[2022-03-23 21:02] dmacbale-cas opened #138 "Intermittent error: "CredentialsProviderError: Could not load credentials from any providers""
I believe I'm having a similar issue to https://github.com/awslabs/amazon-ecs-local-container-endpoints/issues/89 but it's different enough that I'm opening a new issue. (Somewhat similar to https://github.com/awslabs/amazon-ecs-local-container-endpoints/issues/118 and maybe https://github.com/awslabs/amazon-ecs-local-container-endpoints/issues/35)

As snehal-kolte mentioned, I'm following the sam

[2022-04-20 12:19] swereddy commented on #16
Hi @jespercedergren , I am having same issue as you had. Did you manage to solve this issue? If so, could you please share how did you get it working.

Thanks
Swetha

[2022-05-18 23:11] james-green-affinity commented on #16
Hi @jespercedergren,  I am having same issue as you had. Did you manage to solve this issue? If so, could you please share how did you get it working.

Thanks
James

[2022-05-18 23:19] james-green-affinity commented on #16
@jespercedergren & @swereddy You're going to kick yourselves:

Try changing
STS_CUSTOM_ENDPOINT & IAM_CUSTOM_ENDPOINT to

IAM_ENDPOINT & STS_ENDPOINT

https://github.com/awslabs/amazon-ecs-local-container-endpoints/blob/mainline/docs/configuration.md#credentials

[2022-06-14 12:09] swereddy commented on #16
Thanks for sharing @james-green-affinity .

[2022-07-26 00:11] Kaelten commented on #51
Any chance of a release?

[2022-07-26 17:42] PettitWesley commented on #51
@Kaelten @arnaudmm @masteinhauser I think the latest release should include it: https://github.com/awslabs/amazon-ecs-local-container-endpoints/releases/tag/v1.4.0

Based on the fact that the release was cut after I merged the SSO PR. I checked the commit history.

[2022-07-26 21:08] Kaelten commented on #51
I'm still getting the below when I try to use 1.4.0

[code]

[2022-07-26 21:10] Kaelten commented on #51
scratch that, it turns out I wasn't actually using 1.4.0 since I was trying to use `latest` as the tag.  It'd be awesome if this could be updated to support multi-arch tagging so we didn't have to hard code amd/arm into our config files.

[2022-08-08 18:18] benkehoe opened #171 "Alternative method of providing credentials"
[The docs recommend mounting `~/.aws` into the container](https://github.com/awslabs/amazon-ecs-local-container-endpoints/blob/mainline/docs/configuration.md#credentials), but this may not work for a variety of reasons (e.g., a custom credential process that's not accessible to the container). An alternative I've discovered is to provide a local IMDSv2 server on the host and use the `AWS_EC2_METAD

[2022-08-08 18:19] benkehoe commented on #51
A slightly different solution to this and any other credentialing woes is to provide refreshable credentials directly from the host via an IMDS server, which I've elaborated on in #171

[2022-08-08 18:36] PettitWesley commented on #171
Thank you for providing this example.

[2022-09-08 16:18] marshall7m opened #177 "IAM_CUSTOM_ENDPOINT and STS_CUSTOM_ENDPOINT env vars not available"
Within the example Local Stack docker-compose [file](https://github.com/awslabs/amazon-ecs-local-container-endpoints/blob/mainline/examples/docker-compose.localstack.yml), custom iam and sts endpoint environment variables are passed as `IAM_CUSTOM_ENDPOINT` and `STS_CUSTOM_ENDPOINT` although there are not supported within the image which results in the image to route requests to AWS. Looking at th

[2022-09-09 07:58] JasonWangA opened #178 "MSK metrics could not collect"
It seems this exporter can't collect MSK metrics ?

[2022-09-15 19:47] marshall7m opened #181 "ECS_CONTAINER_METADATA_URI_V4 support"
Just wondering if there's any plans to support v4 of the ecs task metadata endpoint in the near future. Thanks